[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
graphene-django = "*"
fake-useragent = "*"
requests = "*"
selenium = "*"
webdriver-manager = "*"
factory-boy = "*"
django-redis = "*"

[dev-packages]
django-environ = "*"

[requires]
python_version = "3.9"
